<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>IsASCIICapable</key>
		<true/>
		<key>NSExtensionAttributes</key>
		<dict/>
		<key>PrefersRightToLeft</key>
		<false/>
		<key>PrimaryLanguage</key>
		<string>en-US</string>
		<key>RequestsOpenAccess</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
